.about-middle-container
{
    margin-top: 74px;
}
.about-middle-container h4
{
    color: var(--gray-clr);
    font-size: var(--font-size-24px);
    margin-bottom: 18px;
}
.about-middle-container h2
{
    font-size: var(--font-size-48px);
    width: 80%;
}
.about-middle-container .image-container
{
    width: 60%;
}
.about-middle-container .text-container
{
    width: 40%;
}
.texts-container
{
    display: flex;
    justify-content: space-between;
    width: 78%;
    margin: auto;
    margin-top: 50px;
}
.texts-container div
{
    width: 30%;
    color: var(--gray-clr);
}
.texts-container h4
{
    font-size: var(--font-size-32px);
    color: var(--dark-clr);
    margin-bottom: 30px;
}
.about-sales-quantity
{
    border-radius: 15px;
    width: 80%;
    overflow: hidden;
    height: 316px;
    margin: auto;
    margin-top: 50px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #4b675ac0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-sales-quantity div.sales
{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.about-sales-quantity .quantity
{
    color: var(--white-clr);
}
.about-sales-quantity .quantity h2
{
    font-size: var(--font-size-72px);
    color: var(--white-clr);
    text-align: center;
    margin-bottom: 0;
}
.about-sales-quantity .quantity h5
{
    font-size: var(--font-size-24px);
}