.about-section .about-top-container
{
    width: 78%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.about-section .image-container
{
    width: 50%;
    overflow: hidden;
}
.about-section .image-container img
{
    width: 100%;
}
.about-section .text-container
{
    width: 50%;
}
.about-section .text-container p
{
    color: var(--gray-clr);
    margin-bottom: 40px;
}
.about-section h2
{
    font-size: var(--font-size-40px);
    color: var(--dark-clr);
    margin-bottom: 32px;
}
.slider
{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}
.slider img
{
    width: 33.33%;
    height: 236px;
    object-fit: cover;
    margin: 12px;
}
.slider button
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F3F4;
}
.slider button svg
{
    fill: var(--green-clr);
}
.slider button:first-child
{
    left: -20px;
}
.slider button:last-child
{
    right: -20px;
}