.filter-section
{
    width: fit-content;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #ECECEC;
    width: 300px;
}
.filter-section h2
{
    color: var(--dark-clr);
    font-weight: bold;
    font-size: var(--font-size-24px);
    margin-bottom: 18px;
    width: fit-content;
    padding-bottom: 18px;
    border-bottom: 2px solid var(--green-clr);
}