footer
{
    background-color: rgb(137, 137, 137);
    width: 100%;
    color: var(--dark-clr);
}
footer .logo
{
    margin-bottom: 22px;
    display: block;
}
footer p.under-logo
{
    margin-bottom: 35px;
    display: block;
    font-size: var(--font-size-17px);
}
footer .footer-top
{
    width: 88%;
    margin: auto;
    background-color: bisque;
}
footer ul li
{
    color: var(--dark-clr);
    display: flex;
    gap: 8px;
    align-items: center;
}
footer ul li span
{
    font-weight: bold;
}