footer
{
    width: 100%;
    color: var(--dark-clr);
}
footer .logo
{
    margin-bottom: 22px;
    display: block;
    cursor: pointer;
}
footer p.under-logo
{
    margin-bottom: 35px;
    display: block;
    font-size: var(--font-size-17px);
}
footer ul
{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
footer ul li
{
    color: var(--dark-clr);
    display: flex;
    gap: 8px;
    align-items: center;
}
footer .footer-top
{
    display: flex;
    width: 88%;
    margin: auto;
    justify-content: space-between;
    padding-bottom: 45px;
    border-bottom: 1px solid var(--light-green-clr);
}
footer ul li span
{
    font-weight: bold;
}
.footer-center-container
{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.footer-left-container
{
    width: 20%;
}
.footer-center-container ul li a
{
    font-size: var(--font-size-15px);
    color: var(--dark-clr);
}
.footer-center-container ul li a.active-link
{
    color: var(--green-clr);
}
.footer-center-container ul li:nth-child(1),
.footer-right-container ul li:nth-child(1)
{
    font-size: 40px;
    font-size: var(--font-size-24px);
    font-weight: bold;
    margin-bottom: 20px;
}